<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020106177580-56vrinsv3mc6lcafobge3jqlg20vjb2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020106177580-56vrinsv3mc6lcafobge3jqlg20vjb2c</string>
	<key>API_KEY</key>
	<string>AIzaSyCGK2i6gC9DGuuNBmzZaiqlj-CP8Lc2vfg</string>
	<key>GCM_SENDER_ID</key>
	<string>1020106177580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebase</string>
	<key>PROJECT_ID</key>
	<string>crudfirebase-2b061</string>
	<key>STORAGE_BUCKET</key>
	<string>crudfirebase-2b061.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020106177580:ios:384028351d3f9a71bea589</string>
</dict>
</plist>